@charset "UTF-8";

/*Mobile First*/
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globais */
html, body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

/* Container fluido */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Cabeçalho e navegação */
header {
  background-color: #ececec;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  display: flex;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-items: center;
}

.logo h1 {
  color: #ffffff;
}

.nav-list {
  display: none;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 15px;
}


/**
nav ul li a {
  font-weight: bold;
  transition: all 0.3s ease;
}
  **/

/*estilo do carrosel*/
  .carrossel {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.slider {
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 400%;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 25%;
  display: block;
}

/* Botões */
.btn-prev,
.btn-next {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.btn-prev, .btn-next {
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
}
.btn-prev:hover, .btn-next:hover {
  background-color: rgba(0,0,0,0.8);
}

@media screen and (max-width: 768px) {
    .img-desktop {
      display: none;
    }

    .img-mobile {
      display: block;
      width: 100%;
    }
    .slide img {
      width: 20%;
    }

    .slides {
      display: flex;
      transition: transform 0.5s ease-in-out;
      width: 250%;
      align-items: center;
    }
    .controles {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
    }
}