@charset "UTF-8";

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globais */
html, body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

/* Container fluido */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Cabeçalho e navegação */
header {
  background-color: #ececec;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 3px;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 15px;
}

/**
nav ul li a {
  font-weight: bold;
  transition: all 0.3s ease;
}
  **/







